<div class="intro-to-innovators">
	<h2>Innovators</h2> <h4>Select an innovator to read their statement in support of protecting the Open Internet</h4>
</div>

<div class="uneven">
	<div class="picture-box">

		<a class="wozniak-modal" href="#wozniak-modal"><%= image_tag "wozniak.png", class: "pic"%></a>
		<div class="pic-info">
			<h6>Steve Wozniak</h6>
			<p>Apple - Co-Founder</p>
		</div>

		<div id="wozniak-modal" class="white-popup-block mfp-hide">
			<%= render "wozniak"%>
		</div>
	</div>

	<div class="picture-box">
		<a class="mcgee-modal" href="#mcgee-modal"><%= image_tag "mcgee.png", class: "pic"%></a>
		<div class="pic-info">
			<h6>Mike McGee</h6>
			<p>Starter League - Co-Founder</p>
			<p>1871 - Founding Member</p>
			<p>Chicago Ideas Week - Brain Trust</p>
		</div>

		<div id="mcgee-modal" class="white-popup-block mfp-hide">
				<%= render "mcgee"%>
		</div>
	</div>

	<div class="picture-box">
		<a class="museum-modal" href="#museum-modal"><%= image_tag "museum.png", class: "pic"%></a>
		<div class="pic-info">
			<h6>National Museum of Health + Medicine Chicago</h6>
		</div>

		<div id="museum-modal" class="white-popup-block mfp-hide">
			<%= render "national_museum"%>
		</div>
	</div>

	<div class="picture-box">
		<a class="singham-modal" href="#singham-modal"><%= image_tag "singham.png", class: "pic"%></a>
		<div class="pic-info">
			<h6>Roy Singham</h6>
			<p>ThoughtWorks - Founder and Chairman</p>
		</div>

		<div id="singham-modal" class="white-popup-block mfp-hide">
			<%= render "singham"%>
		</div>
	</div>

	<div class="picture-box">

		<a class="biss-modal" href="#biss-modal"><%= image_tag "biss.png", class: "pic"%></a>
		<div class="pic-info">
			<h6>Senator Daniel Biss</h6>
			<p>Illinois State Senator</p>
		</div>

		<div id="biss-modal" class="white-popup-block mfp-hide">
			<%= render "biss"%>
		</div>
	</div>

	<div class="picture-box">

		<a class="copps-modal" href="#copps-modal"><%= image_tag "copps.png", class: "pic"%></a>
		<div class="pic-info">
			<h6>Michael J. Copps</h6>
			<p>FCC Commissioner - 2001-2011</p>
			<p>Media &amp; Democracy Reform Initiative - Common Cause</p>
		</div>

		<div id="copps-modal" class="white-popup-block mfp-hide">
			<%= render "copps"%>
		</div>
	</div>

	<div class="picture-box">

		<a class="baker-modal" href="#baker-modal"><%= image_tag "baker.png", class: "pic"%></a>
		<div class="pic-info">
			<h6>Paul Baker</h6>
			<p>Webitects - CEO</p>
			<p>Open Data Institute Chicago / Open City - Co-Founder</p>
		</div>

		<div id="baker-modal" class="white-popup-block mfp-hide">
			<%= render "baker"%>
	</div>
	</div>
</div>