<div class="innovater-images">
	<%= image_tag "mcgee.png", class: "pic"%>
	<h5>Mike McGee</h5>
</div>
<div class="innovater-images">
	<%= image_tag "baker.png", class: "pic"%>
	<h5>Paul Baker</h5>
</div>
<div class="innovater-images">
	<%= image_tag "biss.png", class: "pic"%>
	<h5>Sen. Daniel Biss</h5>
</div>
<div class="innovater-images">
	<%= image_tag "museum.png", class: "pic"%>
	<h5>National Museum of Health + Medicine</h5>
</div>
<div class="innovater-images">
	<%= image_tag "singham.png", class: "pic"%>
	<h5>Roy Singham</h5>
</div>
<div class="innovater-images">
	<%= image_tag "wozniak.png", class: "pic"%>
	<h5>Steve Wozniak</h5>
</div>
<div class="innovater-images">
	<%= image_tag "copps.png", class: "pic"%>
	<h5>Michael J. Copps</h5>
</div>


