<div class="innovater-images">
	<a class="mcgee-modal" href="#mcgee-modal">	<%= image_tag "mcgee.png", class: "pic"%>
	</a>
	<h5>Mike McGee</h5>
	<div id="mcgee-modal" class="white-popup-block mfp-hide">
			<%= render "mcgee"%>
	</div>

</div>

<div class="innovater-images">
	<a class="baker-modal" href="#baker-modal">
		<%= image_tag "baker.png", class: "pic"%>
	</a>
	<h5>Paul Baker</h5>
	<div id="baker-modal" class="white-popup-block mfp-hide">
			<%= render "baker"%>
	</div>
</div>

<div class="innovater-images">
	<a class="biss-modal" href="#biss-modal">
		<%= image_tag "biss.png", class: "pic"%>
	</a>
	<h5>Sen. Daniel Biss</h5>
	<div id="biss-modal" class="white-popup-block mfp-hide">
			<%= render "biss"%>
	</div>
</div>

<div class="innovater-images">
	<a class="museum-modal" href="#museum-modal">
		<%= image_tag "museum.png", class: "pic"%>
	</a>
	<h5>National Museum of Health + Medicine</h5>
	<div id="museum-modal" class="white-popup-block mfp-hide">
			<%= render "national_museum"%>
	</div>
</div>

<div class="innovater-images">
	<a class="singham-modal" href="#singham-modal">
		<%= image_tag "singham.png", class: "pic"%>
	</a>
	<h5>Roy Singham</h5>
	<div id="singham-modal" class="white-popup-block mfp-hide">
			<%= render "singham"%>
	</div>
</div>

<div class="innovater-images">
	<a class="wozniak-modal" href="#wozniak-modal">
		<%= image_tag "wozniak.png", class: "pic"%>
	</a>
	<h5>Steve Wozniak</h5>
		<div id="wozniak-modal" class="white-popup-block mfp-hide">
			<%= render "wozniak"%>
	</div>
</div>

<div class="innovater-images">
	<a class="copps-modal" href="#copps-modal">
		<%= image_tag "copps.png", class: "pic"%>
	</a>
	<h5>Michael J. Copps</h5>
	<div id="copps-modal" class="white-popup-block mfp-hide">
			<%= render "copps"%>
	</div>
</div>


