<div class="container">
	<div class="innovater-images">
		<%= image_tag "mcgee.png", class: "pic"%>
	</div>
	<div class="innovater-images">
		<%= image_tag "baker.png", class: "pic"%>
	</div>
	<div class="innovater-images">
		<%= image_tag "biss.png", class: "pic"%>
	</div>
	<div class="innovater-images">
		<%= image_tag "museum.png", class: "pic"%>
	</div>
	<div class="innovater-images">
		<%= image_tag "singham.png", class: "pic"%>
	</div>
	<div class="innovater-images">
		<%= image_tag "wozniak.png", class: "pic"%>
	</div>
	<div class="innovater-images">
		<%= image_tag "copps.png", class: "pic"%>
	</div>
</div>