<div class="innovater-images">
	<a class="wozniak-modal" href="#wozniak-modal">
		<%= image_tag "wozniak.png", class: "pic"%>
	</a>
	<h5>Steve Wozniak</h5>
	<ul>
		<li>Apple - Co-Founder</li>
	</ul>
		<div id="wozniak-modal" class="white-popup-block mfp-hide">
			<%= render "wozniak"%>
	</div>
</div>

<div class="innovater-images">
	<a class="mcgee-modal" href="#mcgee-modal">	<%= image_tag "mcgee.png", class: "pic"%>
	</a>
	<h5>Mike McGee</h5>
	<ul>
		<li>Starter League - Co-Founder</li>
		<!-- <li>1871 - Founding Member</li>
		<li>Chicago Ideas Week - Brain Trust</li> -->
	</ul>
	<div id="mcgee-modal" class="white-popup-block mfp-hide">
			<%= render "mcgee"%>
	</div>
</div>

<div class="innovater-images">
	<a class="biss-modal" href="#biss-modal">
		<%= image_tag "biss.png", class: "pic"%>
	</a>
	<h5>Sen. Daniel Biss</h5>
	<div id="biss-modal" class="white-popup-block mfp-hide">
			<%= render "biss"%>
	</div>
</div>

<div class="innovater-images">
	<a class="museum-modal" href="#museum-modal">
		<%= image_tag "museum.png", class: "pic"%>
	</a>
	<h5>National Museum of Health + Medicine Chicago</h5>
	<div id="museum-modal" class="white-popup-block mfp-hide">
			<%= render "national_museum"%>
	</div>
</div>

<div class="innovater-images">
	<a class="singham-modal" href="#singham-modal">
		<%= image_tag "singham.png", class: "pic"%>
	</a>
	<h5>Roy Singham</h5>
	<ul>
		<li>ThoughtWorks - Founder and Chairman</li>
	</ul>
	<div id="singham-modal" class="white-popup-block mfp-hide">
			<%= render "singham"%>
	</div>
</div>

<div class="innovater-images">
	<a class="copps-modal" href="#copps-modal">
		<%= image_tag "copps.png", class: "pic"%>
	</a>
	<h5>Michael J. Copps</h5>
	<ul>
		<li>FCC Commissner - 2001-2011</li>
		<!-- <li>Media &amp; Democracy Reform Initiative</li> -->
		<!-- <li>Common Cause</li> -->
	</ul>
	<div id="copps-modal" class="white-popup-block mfp-hide">
			<%= render "copps"%>
	</div>
</div>

<div class="innovater-images">
	<a class="baker-modal" href="#baker-modal">
		<%= image_tag "baker.png", class: "pic"%>
	</a>
	<h5>Paul Baker</h5>
	<ul>
		<li>Webitects - CEO</li>
		<!-- <li>Open Data Institute Chicago - CoFounder</li>
		<li>Open City</li> -->
	</ul>
	<div id="baker-modal" class="white-popup-block mfp-hide">
			<%= render "baker"%>
	</div>
</div>
