<div class="header">
	<%= render "header"%>
</div>

<div class="hero">
	<%= render "hero"%>
</div>

<div class="mission">
	<%= render "mission"%>
</div>

<div class="innovator-right">
	<%= render "wozniak_quote"%>
</div>

<div class="innovator-left">
	<%= render "mcgee_quote"%>
</div>

<div class="innovator-right">
	<%= render "biss_quote"%>
</div>

<div class="innovator-left">
	<%= render "baker_quote"%>
</div>

<div class="innovator-right">
	<%= render "national_museum_quote"%>
</div>

<div class="innovator-left">
	<%= render "singham_quote"%>
</div>

<div class="innovator-right">
	<%= render "copps_quote"%>
</div>

<div class="the-footer">
	<%= render "footer"%>
</div>