<div class="header">
	<%= render "header"%>
</div>

<div class="hero">
	<%= render "hero"%>
</div>

<div class="mission">
	<%= render "mission"%>
</div>

<div class="innovator-right">
	<%= render "wozniak"%>
</div>

<div class="innovator-left">
	<%= render "mcgee"%>
</div>

<div class="innovator-right">
	<%= render "biss"%>
</div>

<div class="innovator-left">
	<%= render "baker"%>
</div>

<div class="innovator-right">
	<%= render "national_museum"%>
</div>

<div class="innovator-left">
	<%= render "singham"%>
</div>

<div class="innovator-right">
	<%= render "copps"%>
</div>

<div class="the-footer">
	<%= render "footer"%>
</div>