<div class="header">
	<%= render "header"%>
</div>

<div class="hero">
	<%= render "hero"%>
</div>

<div class="mission">
	<%= render "mission"%>
</div>


<% @innovators.each do |innovator|%>
	<% if innovator.id.odd?%>
		
		<div class="innovator-right">
				<%= render "#{innovator.last_name}_quote"%>
		</div>

		<% else %>
			<div class="innovator-left">
				<%= render "#{innovator.last_name}_quote"%>
			</div>
	<% end %>
<% end %>

<div class="contact">
	<%= render "contact"%>
</div>

<div class="the-footer">
	<%= render "footer"%>
</div>