<div class="header">
	<%= render "header"%>
</div>

<div class="hero">
	<%= render "hero"%>
</div>

<div class="mission">
	<%= render "mission"%>
</div>

<div class="innovators">
	<%= render "innovators"%>
</div>

<div class="the-footer">
	<%= render "footer"%>
</div>