<div class="header">
	<%= render "header"%>
</div>

<div class="hero">
	<%= render "hero"%>
</div>

<div class="mission">
	<%= render "mission"%>
</div>


<% @innovators.each do |innovator|%>
	<% if innovator.last_name == 'wozniak' || innovator.last_name == 'biss' || innovator.last_name == 'national_museum' || innovator.last_name == 'copps'%>
		
		<div class="innovator-right">
				<%= render "#{innovator.last_name}_quote"%>
		</div>

		<% else %>
			<div class="innovator-left">
				<%= render "#{innovator.last_name}_quote"%>
			</div>
	<% end %>
<% end %>


<div class="the-footer">
	<%= render "footer"%>
</div>